---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import Button from "../components/ui/Button.astro";
import { getCollection } from "astro:content";
import type { CallToAction } from "../types";
import {notionMultiSelectToStrings, notionTextToString} from "../utils/utils";

const resources = await getCollection('resources');
const retrieveEntries = (category: string, defaultIcon: string, defaultLinkText: string, defaultLinkIcon?: string) =>
  resources
    .filter((item) => notionMultiSelectToStrings(item.data.properties.category.multi_select)[0] === category)
    .map((item) => {
      const {
        Name: title, subtitle, description, link, linkText, linkIcon, icon
      } = item.data.properties;

      return {
        title: notionTextToString(title.title),
        subtitle: notionTextToString(subtitle.rich_text),
        description: notionTextToString(description.rich_text),
        callToAction: (
          link.url
            ? {
              variant: 'tertiary',
              text: notionTextToString(linkText.rich_text) || defaultLinkText,
              href: link.url,
              target: '_blank',
              icon: `tabler:${notionTextToString(linkIcon.rich_text) || defaultLinkIcon || defaultIcon}`,
              class: "hover:text-accent dark:hover:bg-accent w-full"
            }
            : undefined
        ) as CallToAction | undefined,
        icon: `tabler:${notionTextToString(icon.rich_text) || defaultIcon}`
      }
    });

const information = retrieveEntries("information", "book", "Mehr erfahren", "info-square-rounded")
const articles = retrieveEntries("article", "news", "Zum Artikel")
const podcasts = retrieveEntries("podcast", "headphones", "Zum Podcast")
const websites = retrieveEntries("website", "device-desktop", "Zur Webseite")
const socialMedia = retrieveEntries("social-media", "share", "Zu Social Media")
const other = retrieveEntries("other", "table-heart", "Mehr erfahren")


const metadata = {
  title: 'Ressourcen',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Ressourcen"
    title="Empfehlenswerte Informationen, Podcasts und Artikel"
    subtitle="Hier ist unsere Auflistung über empfehlenswerte Medien zum Thema Bezahlkarte. Sie ist keineswegs vollständig, aber vielleicht hilft sie Dir weiter."
  />
  <section
    id="Inhaltverzeichnis"
    aria-label="Inhaltsverzeichnis"
    class="max-w-4xl mx-auto dark:bg-slate-900 shadow-md rounded-lg p-6 motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
  >
    <ul
      class="grid grid-cols-1  sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-2 justify-items-center"
      role="menu"
    >
      <Button
        text="Informationen"
        href="#Informationen"
        variant="secondary"
        role="menuitem"
        class="w-full dark:hover:bg-primary hover:bg-primary hover:text-white"
      />
      <Button
        text="Podcasts"
        href="#Podcasts"
        variant="secondary"
        role="menuitem"
        class="w-full dark:hover:bg-accent hover:bg-accent hover:text-white"
      />
      <Button
        text="Artikel"
        href="#Artikel"
        variant="secondary"
        role="menuitem"
        class="w-full dark:hover:bg-secondary hover:bg-secondary hover:text-white"
      />
      <Button
        text="<nobr>Social Media</nobr>"
        href="#SocialMedia"
        variant="secondary"
        role="menuitem"
        class="w-full dark:hover:bg-primary hover:bg-primary hover:text-white"
      />
      <Button
        text="Webseiten"
        href="#Webseiten"
        variant="secondary"
        role="menuitem"
        class="w-full dark:hover:bg-accent hover:bg-accent hover:text-white"
      />
      <Button
        text="Sonstige"
        href="#Sonstige"
        variant="secondary"
        role="menuitem"
        class="w-full dark:hover:bg-secondary hover:bg-secondary hover:text-white"
      />
    </ul>
  </section>
<Features2
    id="Informationen"
    title="Informationen"
    columns={3}
    items={information}
  />
  <Features2
    id="Podcasts"
    title="Podcasts"
    columns={3}
    items={podcasts}
  />
  <Features2
    id="Artikel"
    title="Artikel"
    columns={3}
    items={articles}
  />
  <Features2
    id="SocialMedia"
    title="Social Media"
    columns={3}
    items={socialMedia}
  />
  <Features2
    id="Webseiten"
    title="Webseiten"
    columns={3}
    items={websites}
  />
  <Features2
    id="Sonstige"
    title="Sonstige"
    columns={3}
    items={other}
  />
</Layout>
