---
import Layout from '~/layouts/PageLayout.astro';
import { getCollection } from 'astro:content';
import { notionTextToString } from '../utils/utils';

const metadata = {
  title: 'Tauschorte',
};

const exchangePlacesCollection = await getCollection('exchangePlaces');
const tauschorte = exchangePlacesCollection.map((item) => {
  const { Name: title, Adresse: address, Öffnungszeiten: opening_hours, 'Api Name': api_key } = item.data.properties;
  return {
    name: notionTextToString(title.title),
    address: notionTextToString(address.rich_text),
    opening_hours: notionTextToString(opening_hours.rich_text),
    api_key: notionTextToString(api_key.rich_text),
  };
});
---

<Layout metadata={metadata}>
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-8 border-b pb-4 motion-safe:md:intersect:animate-fade">Tauschorte</h1>

    <div class="space-y-8 motion-safe:md:intersect:animate-fade">
      {
        tauschorte.map((ort) => (
          <div class="p-6 border rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold mb-2" set:html={ort.name}></h2>
            <h3 class="font-semibold mb-1">Adresse</h3>
            <p class="mb-2" set:html={ort.address}></p>

            <div class="mb-4">
              <h3 class="font-semibold mb-1">Öffnungszeiten</h3>
              <p set:html={ort.opening_hours}></p>
            </div>

            <div id={`giftcards-${ort.api_key}`} class="mt-4" />
          </div>
        ))
      }
    </div>
  </div>

  <script type="module" data-astro-rerun>
    const apiURL = 'https://intern.nein-zur-bezahlkarte-karlsruhe.de/api/inventory';

    try {
      const res = await fetch(apiURL);
      const data = await res.json();

      for (const [location, info] of Object.entries(data)) {
        const container = document.getElementById(`giftcards-${location}`);
        if (!container || !info.gift_cards) continue;

        const section = document.createElement('div');
        section.className = 'mt-4';

        if (Object.keys(info.gift_cards).length > 0) {
          section.innerHTML = `
            <h3 class="font-semibold mb-2">Verfügbare Geschenkkarten</h3>
            <div class="grid sm:grid-cols-3 lg:grid-cols-5 gap-4">
            ${Object.entries(info.gift_cards)
            .map(
              ([card, { amount }]) => `
              <div class="border rounded-lg p-3 mb-4 shadow hover:shadow-md transition">
                <p class="font-semibold">${card.toUpperCase()}</p>
                <p class="mt-2">${amount} ${amount === 1 ? 'Gutschein' : 'Gutscheine'}</p>
              </div>
            `
            )
            .join('')}
            </div>
            <p class="text-sm">zuletzt aktualisiert am ${new Date(info.updated_at).toLocaleDateString('de-DE')}</p>
          `;
        } else {
          section.innerHTML = `
            <h3 class="font-semibold mb-2">Keine Verfügbare Geschenkkarten</h3>
            <p class="text-sm">zuletzt aktualisiert am ${new Date(info.updated_at).toLocaleDateString('de-DE')}</p>
          `;
        }

        container.appendChild(section);
      }
    } catch (err) {
      console.error('Fehler beim Laden der Geschenkkarten:', err);
    }
  </script>
</Layout>
